PB_VERSION=0.22.13
PB_HTTP_PORT=8080
NODE_VERSION=20.14.0
NODE_ENV=development
NODE_PORT=3000
NUXT_PB_API=http://pb:8080
NUXT_PB_USER=<adminuser>
NUXT_PB_PASS=<adminpw>
NUXT_PUBLIC_PB_API=http://localhost:8080
NUXT_FD_AUTH_TOKEN=football-data.org-api-token